hostname = *.pornhub.com, *.doubleclick.net, *.doubleverify.com, *.adsafeprotected.*, *.googlesyndication.*, adservice.google.*, firebaselogging.googleapis.*, securepubads.*,  api.douban.com, erebor.douban.com, adsmind.ugdtimg.com, *.gdt.qq.com, *.e.qq.com, *.doubanio.com

# Pornhub
^https:\/\/(www|cn)\.pornhub.com url response-body <div class="topAdContainter">(\n.*){9}|<div class="premiumAdvertWrapper">(\n.*){5}|<div class="adContainer clearfix middleVideoAdContainer">(\n.*){7}|<div class="adContainer clearfix ad-tabSplit">(\n.*){7}|<div class="adContainer clearfix">(\n.*){7} response-body <meta name="author" content="zyd">
^https:\/\/(www|cn)\.pornhub\.com\/_xa\/ads.* url reject

# NYTimes
^https?:\/\/(static01)\.nytimes\.com\/ads\/adsolutions\/.+ url reject
^https:?/\/\b..+doubleclick\.net.+ url reject
^https:?/\/\b..+doubleverify\.com.+ url reject
^https:?/\/\b..+adsafeprotected.+ url reject
^https:?/\/\b..+googlesyndication\..+ url reject
^https:?/\/adservice\.google\..+ url reject
^https:?/\/firebaselogging-pa\.googleapis\..+ url reject
^https:?/\/securepubads.+ url reject

# 豆瓣
^https:\/\/api.douban.com\/v2\/app_ads\/.+ url reject-dict
^https:\/\/erebor.douban.com\/.+ url reject-dict
^https:?/\/\adsmind.ugdtimg.com\/.+ url reject-dict
^https:?/\/\b..+gdt.qq.com\/.+ url reject-dict
^https:?/\/\b..+e.qq.com\/.+ url reject-dict
^https:?/\/\b..+doubanio.com\/view\/dale-online\/dale_ad\/.+ url reject-dict
