hostname = *.pornhub.com, api.douban.com, *.doubanio.com, erebor.douban.com, frodo.douban.com, img1.doubanio.com, img3.doubanio.com, *.jd.com

# Pornhub
^https:\/\/(www|cn)\.pornhub.com url response-body <div class="topAdContainter">(\n.*){9}|<div class="premiumAdvertWrapper">(\n.*){5}|<div class="adContainer clearfix middleVideoAdContainer">(\n.*){7}|<div class="adContainer clearfix ad-tabSplit">(\n.*){7}|<div class="adContainer clearfix">(\n.*){7} response-body <meta name="author" content="zyd">
^https:\/\/(www|cn)\.pornhub\.com\/_xa\/ads.* url reject

# 豆瓣

^https?:\/\/erebor\.douban\.com\/count\/\?ad= url reject-dict
^https?:\/\/(\d{1,3}\.){1,3}\d{1,3}\/view\/dale-online\/dale_ad\/ url reject-dict
^https?:\/\/api\.douban\.com\/v2\/app_ads\/splash url reject-dict
^https?:\/\/api\.douban\.com\/b.*\/common_ads\?.* url reject-dict
^https?:\/\/api\.douban\.com\/v2\/app_ads\/common_ads url reject-dict
^https?:\/\/api.douban.com\/v2\/app_ads\/.+ url reject-200
^https?:\/\/api\.douban\.com\/v\d\/app_ads\/ url reject-200
^https?:\/\/frodo\.douban\.com\/api\/v2\/movie\/banner url reject-dict
^https?:\/\/img\d\.doubanio\.com\/view\/dale-online\/dale_ad\/ url reject-dict
^https:?/\/\b..+doubanio.com\/view\/dale-online\/dale_ad\/.+ url reject-dict
^https:?/\/\q..+doubanio.com\/view\/dale-online\/dale_ad\/.+ url reject-dict
^https:?/\/\dgstatic\.jd\.com\/ksdk url reject-dict
